* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Pixelify Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  color: #f0d699;
  width: 100vw;
  height: 100vh;
}

.main-container {
  background-size: 100% 100%;
  background-position: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  display: fixed;
}

.greeting_container {
  height: 100vh;
  width: 100vw;
}

#greetings_header {
  position: absolute;
  top: 40%;
  left: 38%;
  font-size: 5rem;
  color: #f0d699;
}

#name_headling {
  display: flex;
  height: 100%;
  font-size: 4rem;
  text-align: left;
}

#role_job {
  height: 100%;
  font-size: 3rem;
  text-align: left;
}

#tea_headling {
  position: relative;
  text-align: right;
  right: 25px;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 5px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.detail_container {
  display: grid;
  position: relative;
  top: 20%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 100px 100px 60px;
  width: 80%;
  margin: auto;
}

.item-1 {
  grid-row: span 2;
  color: #f0d699;
}

.item-2 {
  color: #f0d699;
  display: flex;
  grid-row: span 3;
  justify-content: center;
  align-items: center;
}

.item-3 {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  grid-column: span 2;
  grid-row: 4;
  height: 60px;
  gap: 20px;
}

#home_pg {
  text-align: left;
}

#video_link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 60px;
  width: 100px;
  text-decoration: none;
  color: #f0d699;
  transition: 0.5s ease;
}

#video_link:hover {
  color: #31511e;
  background-color: #f0d699;
}

#hire_me_link,
#resume_link {
  display: flex;
  color: #f0d699;
  border-radius: 10px;
  border: 4px #31511e solid;
  background-color: #31511e;
  height: 60px;
  width: 150px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all 0.5s ease;
  font-size: 25px;
  margin: 10px;
}

#hire_me_link:hover,
#resume_link:hover {
  background-color: #f0d699;
  color: #31511e;
  border-radius: 50px;
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #011d09;
  transform-origin: bottom;
  z-index: 100;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #011d09;
  transform-origin: top;
  z-index: 100;
}

.home_container {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

#home_bg_image {
  width: 100%;
  height: 100%;
}

#cat_img {
  width: 50%;
  height: 80%;
  background-image: url("/src/assets/image/cat_cafe_meme.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#about_page {
  width: 100vw;
  height: 100vh;
}

#about_bg_img {
  width: 100%;
  height: 100%;
}

.about_container {
  display: grid;
  position: relative;
  top: 12%;
  width: 100%;
  height: 70%;
  grid-template-rows: 1fr 60px;
  grid-template-columns: 500px 500px;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

#about_item-1 {
  grid-row: span 1;
  grid-column: span 1;
  text-align: left;
}

#about_heading,
#about_paragraph {
  display: flex;
  align-items: center;
  text-align: justify;
}

#about_item-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1;
  grid-column: 2;
  height: 100%;
  width: 100%;
}

#about_item-3 {
  grid-row: 2;
  grid-column: span 2;
  display: flex;
}

#ashu_img {
  width: 70%;
  height: 80%;
  background-image: url("/src/assets/image/cat_pc.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

#about_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  color: #f0d699;
  transition: all 0.5s ease;
}

#about_icon:hover {
  color: #31511e;
  background-color: #f0d699;
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.ed_container {
  width: 100vw;
  height: 100vh;
}

.ed_card {
  display: flex;
}

.ed_item_container {
  text-align: left;
  padding: 20px;
  width: 25%;
  height: 100vh;
  color: #f0d699;
  font-size: 0.9rem;
  transition: 0.5s;
}

.ed_item_container:hover {
  background-color: #31511e;
  color: #f0d699;
  font-size: 1rem;
}

#ed_img {
  width: 100%;
  height: 30%;
  background-color: white;
  border-radius: 20px;
  background-size: 65% 85%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.5s;
}

#ed_img:hover {
  background-size: 75% 90%;
  height: 35%;
}

.ed_item {
  margin-top: 20px;
}

#ed_course {
  margin-top: 15px;
}

.forward_ed_item_container {
  text-align: center;
  display: flex;
  position: fixed;
  inset: 0;
  background-color: rgba(195, 199, 166, 0.1);
  backdrop-filter: blur(5px);
  width: 100vw;
  height: 100vh;
  justify-content: center;
  color: #f0d699;
}

.forward_ed_card {
  margin-top: 40px;
  background-color: #011d09;
  width: 70%;
  height: 80%;
  border-radius: 10px;
}

.ed_close_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  place-self: start end;
  transition: 0.3s;
  border-radius: 10px;
}

.ed_close_logo:hover {
  background-color: #31511e;
  color: #f0d699;
}

.ed_modal_img {
  background-color: white;
  width: 80%;
  height: 50%;
  background-repeat: no-repeat;
  background-size: 30% 80%;
  background-position: center;
  border-radius: 20px;
  margin: auto;
}

.ed_modal_desc {
  position: relative;
  top: 10px;
  width: 80%;
  text-align: left;
  margin: auto;
}

.ed_model_paragraph {
  position: relative;
  top: 20px;
  width: 80%;
  text-align: left;
  margin: auto;
}

.ex_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  color: #f0d699;
  font-size: 2rem;
}

.ex_card {
  background-color: #31511e;
  position: relative;
  top: -40px;
  width: 85%;
  height: 80%;
  border-radius: 25px;
}

.skill_container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.skill_card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 2%;
  width: 50%;
  height: 70%;
  gap: 20px;
}

.skill_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 20%;
  height: 35%;
  transition: 0.5s;
}

.skill_icon:hover {
  background-color: #f0d699;
  color: #31511e;
  width: 25%;
  height: 40%;
}

.skill_hover {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px #f0d699 solid;
  position: fixed;
  background-color: #31511e;
  color: #f0d699;
  width: 100px;
  height: 30px;
  left: -120px;
  top: -70px;
  transition: opacity 200ms ease-in-out;
}

.hobbies_container {
  width: 100vw;
  height: 100vh;
  font-size: 2rem;
}

.hob_card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 3%;
  width: 100%;
  height: 20%;
  transition: 0.5s;
}

.hob_card:hover {
  font-size: 2.5rem;
  height: 23%;
  color: #9a031e;
}

.hob_img {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

#hob_headling {
  position: absolute;
}

.proj_container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-size: 1rem;
}

.proj_card {
  position: relative;
  top: 2%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 80%;
  height: 85%;
  box-sizing: border-box;
}

.proj_hover {
  position: relative;
  display: flex;
  padding: 50px;
  border-radius: 20px;
  width: 100%;
  height: 20%;
  transition: 0.5s;
}

.proj_hover:hover {
  background-color: #31511e;
  color: #f0d699;
}

.proj_item {
  display: flex;
  align-items: center;
  text-align: left;
  width: 80%;
}

.proj_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  gap: 10px;
}

.proj_link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0d699;
  border: 3px #f0d699 solid;
  color: #31511e;
  width: 80px;
  height: 30px;
  border-radius: 20px;
  transition: 0.5s;
}

#proj_git_link {
  text-decoration: none;
  color: #f0d699;
}

.proj_link:hover {
  background-color: #31511e;
  color: #f0d699;
}

.proj_no_link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9a031e;
  border: 3px #9a031e solid;
  color: white;
  width: 80px;
  height: 30px;
  border-radius: 20px;
  transition: 0.5s;
}

.proj_no_link:hover {
  background-color: black;
  color: #9a031e;
}

.hover_container {
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 10;
}

.img_hover {
  position: absolute;
  width: 300px;
  height: 150px;
  border-radius: 10px;
  transition: opacity 200ms ease-in-out;
}

.con_container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.con_card {
  display: flex;
  position: relative;
  top: 5%;
  width: 90%;
  height: 80%;
  gap: 20px;
}

.con_item {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  gap: 20px;
}

.con_icon_hover {
  border-radius: 15px;
  transition: 0.5s;
}

.con_icon_hover:hover {
  background-color: #f0d699;
  color: #31511e;
}

.con_item_card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

#con_icon_link {
  text-decoration: none;
  color: #f0d699;
}

.con_icon {
  display: inline-flex;
  gap: 20px;
  font-size: 3.5rem;
}

.con_copy_mail {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 40%;
  border: 3px #f0d699 solid;
  border-radius: 15px;
  transition: 0.3s;
  padding: 10px;
}

.con_copy_mail:hover {
  background-color: #f0d699;
  color: #31511e;
  border: 3px #31511e solid;
}

.con_mail {
  width: 90%;
}

.con_copy_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}

#linkNav {
  display: inline-block;
  margin: 10px;
  padding: 5px 10px;
  text-decoration: none;
  color: #f0d699;
  border-radius: 10px;
  transition: all 0.5s ease;
  font-size: 25px;
}

#linkNav:hover,
.linkHover {
  background-color: #31511e;
  color: #f0d699;
}

.navIcon_menu {
  display: none;
}

.navbar {
  display: flex;
  position: fixed;
  bottom: 15px;
  width: 100vw;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.navbar_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.navbar_menu {
  border-radius: 10px;
  margin: auto;
  background-color: #011d09;
}

.theme_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #011d09;
  width: 70px;
  height: 60px;
  border-radius: 10px;
}

.theme {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 50px;
  height: 40px;
  color: #f0d699;
  transition: 0.5s;
}

.theme:hover {
  background-color: #31511e;
}

.bg {
  background: url("https://i.ibb.co/87GbbFP/2799006.jpg") no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -3;
}

.bg:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  position: fixed;
  z-index: -1;
  opacity: 0.3;
}

@keyframes sf-fly-by-1 {
  from {
    transform: translateZ(-600px);
    opacity: 0.5;
  }
  to {
    transform: translateZ(0);
    opacity: 0.5;
  }
}
@keyframes sf-fly-by-2 {
  from {
    transform: translateZ(-1200px);
    opacity: 0.5;
  }
  to {
    transform: translateZ(-600px);
    opacity: 0.5;
  }
}
@keyframes sf-fly-by-3 {
  from {
    transform: translateZ(-1800px);
    opacity: 0.5;
  }
  to {
    transform: translateZ(-1200px);
    opacity: 0.5;
  }
}

.star-field {
  position: fixed;
  width: 100%;
  height: 100%;
  perspective: 600px;
  -webkit-perspective: 600px;
  z-index: -1;
}

.star-field .layer {
  box-shadow: -411px -476px #cccccc, 777px -407px #d4d4d4, -387px -477px #fcfcfc,
    -91px -235px #d4d4d4, 491px -460px #f7f7f7, 892px -128px #f7f7f7,
    758px -277px #ededed, 596px 378px #cccccc, 647px 423px whitesmoke,
    183px 389px #c7c7c7, 524px -237px #f0f0f0, 679px -535px #e3e3e3,
    158px 399px #ededed, 157px 249px #ededed, 81px -450px #ebebeb,
    719px -360px #c2c2c2, -499px 473px #e8e8e8, -158px -349px #d4d4d4,
    870px -134px #cfcfcf, 446px 404px #c2c2c2, 440px 490px #d4d4d4,
    414px 507px #e6e6e6, -12px 246px #fcfcfc, -384px 369px #e3e3e3,
    641px -413px #fcfcfc, 822px 516px #dbdbdb, 449px 132px #c2c2c2,
    727px 146px #f7f7f7, -315px -488px #e6e6e6, 952px -70px #e3e3e3,
    -869px -29px #dbdbdb, 502px 80px #dedede, 764px 342px #e0e0e0,
    -150px -380px #dbdbdb, 654px -426px #e3e3e3, -325px -263px #c2c2c2,
    755px -447px #c7c7c7, 729px -177px #c2c2c2, -682px -391px #e6e6e6,
    554px -176px #ededed, -85px -428px #d9d9d9, 714px 55px #e8e8e8,
    359px -285px #cfcfcf, -362px -508px #dedede, 468px -265px #fcfcfc,
    74px -500px #c7c7c7, -514px 383px #dbdbdb, 730px -92px #cfcfcf,
    -112px 287px #c9c9c9, -853px 79px #d6d6d6, 828px 475px #d6d6d6,
    -681px 13px #fafafa, -176px 209px #f0f0f0, 758px 457px #fafafa,
    -383px -454px #ededed, 813px 179px #d1d1d1, 608px 98px whitesmoke,
    -860px -65px #c4c4c4, -572px 272px #f7f7f7, 459px 533px #fcfcfc,
    624px -481px #e6e6e6, 790px 477px #dedede, 731px -403px #ededed,
    70px -534px #cccccc, -23px 510px #cfcfcf, -652px -237px whitesmoke,
    -690px 367px #d1d1d1, 810px 536px #d1d1d1, 774px 293px #c9c9c9,
    -362px 97px #c2c2c2, 563px 47px #dedede, 313px 475px #e0e0e0,
    839px -491px #e3e3e3, -217px 377px #d4d4d4, -581px 239px #c2c2c2,
    -857px 72px #cccccc, -23px 340px #dedede, -837px 246px white,
    170px -502px #cfcfcf, 822px -443px #e0e0e0, 795px 497px #e0e0e0,
    -814px -337px #cfcfcf, 206px -339px #f2f2f2, -779px 108px #e6e6e6,
    808px 2px #d4d4d4, 665px 41px #d4d4d4, -564px 64px #cccccc,
    -380px 74px #cfcfcf, -369px -60px #f7f7f7, 47px -495px #e3e3e3,
    -383px 368px #f7f7f7, 419px 288px #d1d1d1, -598px -50px #c2c2c2,
    -833px 187px #c4c4c4, 378px 325px whitesmoke, -703px 375px #d6d6d6,
    392px 520px #d9d9d9, -492px -60px #c4c4c4, 759px 288px #ebebeb,
    98px -412px #c4c4c4, -911px -277px #c9c9c9;
  transform-style: preserve-3d;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 4px;
  width: 4px;
  border-radius: 2px;
}
.star-field .layer:nth-child(1) {
  animation: sf-fly-by-1 5s linear infinite;
}
.star-field .layer:nth-child(2) {
  animation: sf-fly-by-2 5s linear infinite;
}
.star-field .layer:nth-child(3) {
  animation: sf-fly-by-3 5s linear infinite;
}

/* mobile mode */
@media (max-width: 415px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Pixelify Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  body {
    color: #f0d699;
    width: 100vw;
    height: 100vh;
  }

  .main-container {
    background-size: 350% 100%;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: fixed;
  }

  .greeting_container {
    height: 100vh;
    width: 100vw;
  }

  #greetings_header {
    position: absolute;
    top: 45%;
    left: 20%;
    font-size: 3rem;
    color: #f0d699;
  }

  #name_headling {
    display: flex;
    height: 100%;
    font-size: 2.5rem;
    text-align: left;
  }

  #role_job {
    height: 100%;
    font-size: 1.5rem;
    text-align: left;
  }

  #tea_headling {
    position: relative;
    text-align: right;
    top: -55px;
    right: 0px;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  @keyframes floating {
    0% {
      transform: translate(0, 0px);
    }
    50% {
      transform: translate(0, 5px);
    }
    100% {
      transform: translate(0, -0px);
    }
  }

  .detail_container {
    display: grid;
    position: relative;
    top: 20%;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px 100px 100px 60px;
    width: 90%;
    margin: auto;
  }

  .item-1 {
    grid-row: span 2;
    color: #f0d699;
  }

  .item-2 {
    color: #f0d699;
    display: flex;
    grid-row: 4;
    justify-content: center;
    align-items: center;
  }

  .item-3 {
    display: flex;
    align-items: center;
    font-size: 1rem;
    grid-row: 5;
    height: 60px;
    gap: 20px;
  }

  #home_pg {
    text-align: left;
  }

  #video_link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 60px;
    width: 100px;
    text-decoration: none;
    color: #f0d699;
    transition: 0.5s ease;
  }

  #video_link:hover {
    color: #31511e;
    background-color: #f0d699;
  }

  #hire_me_link,
  #resume_link {
    display: flex;
    color: #f0d699;
    border-radius: 10px;
    border: 4px #31511e solid;
    background-color: #31511e;
    height: 60px;
    width: 150px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.5s ease;
    font-size: 25px;
    margin: 10px;
  }

  #hire_me_link:hover,
  #resume_link:hover {
    background-color: #f0d699;
    color: #31511e;
    border-radius: 50px;
  }

  .slide-in {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #011d09;
    transform-origin: bottom;
    z-index: 100;
  }

  .slide-out {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #011d09;
    transform-origin: top;
    z-index: 100;
  }

  .home_container {
    width: 100vw;
    height: 100vh;
  }

  #home_bg_image {
    width: 100%;
    height: 100%;
  }

  #cat_img {
    width: 50%;
    height: 65%;
    background-image: url("/src/assets/image/cat_cafe_meme.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  #about_page {
    width: 100vw;
    height: 100vh;
  }

  .about_container {
    display: grid;
    position: relative;
    top: 12%;
    width: 90vw;
    height: 70vh;
    grid-template-rows: 1fr 1fr 60px;
    grid-template-columns: 300px;
    margin: auto;
    font-size: 1.5rem;
  }

  #about_item-1 {
    grid-row: 2;
    text-align: left;
  }

  #about_heading,
  #about_paragraph {
    display: flex;
    align-items: center;
    text-align: justify;
  }

  #about_item-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
  }

  #about_item-3 {
    grid-row: 3;
    display: flex;
  }

  #ashu_img {
    width: 80%;
    height: 80%;
    background-image: url("/src/assets/image/cat_pc.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
  }

  #about_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    color: #f0d699;
    transition: all 0.5s ease;
  }

  #about_icon:hover {
    color: #31511e;
    background-color: #f0d699;
    width: 60px;
    height: 60px;
    border-radius: 10px;
  }

  .ed_container {
    width: 100vw;
    height: 100vh;
  }

  .ed_card {
    display: flex;
    position: relative;
    top: 25px;
    height: 85%;
  }

  .ed_item_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 15px;
    width: 100vw;
    height: 25%;
    color: #f0d699;
    font-size: 0.6rem;
    transition: 0.5s;
    gap: 10px;
  }

  .ed_item_container:hover {
    background-color: #31511e;
    color: #f0d699;
    font-size: 0.7rem;
  }

  #ed_img {
    width: 40%;
    height: 80%;
    background-color: white;
    border-radius: 15px;
    background-size: 65% 85%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.5s;
  }

  #ed_img:hover {
    background-size: 75% 90%;
    height: 90%;
  }

  .ed_item {
    width: 60%;
    height: 90%;
  }

  #ed_course {
    margin-top: 10px;
  }

  .forward_ed_item_container {
    text-align: center;
    display: flex;
    position: fixed;
    inset: 0;
    background-color: rgba(195, 199, 166, 0.1);
    backdrop-filter: blur(5px);
    width: 100vw;
    height: 100vh;
    justify-content: center;
    color: #f0d699;
  }

  #forward_ed_headling {
    width: 80%;
    font-size: 1.2rem;
    margin: auto;
  }

  .forward_ed_card {
    margin: auto;
    background-color: #011d09;
    width: 90%;
    height: 70%;
    border-radius: 10px;
  }

  .ed_close_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    place-self: start end;
    transition: 0.3s;
    border-radius: 10px;
  }

  .ed_close_logo:hover {
    background-color: #31511e;
    color: #f0d699;
  }

  .ed_modal_img {
    position: relative;
    top: 10px;
    background-color: white;
    width: 80%;
    height: 30%;
    background-repeat: no-repeat;
    background-size: 50% 80%;
    background-position: center;
    border-radius: 20px;
    margin: auto;
  }

  .ed_modal_desc {
    position: relative;
    top: 15px;
    width: 80%;
    text-align: left;
    margin: auto;
    font-size: 0.8rem;
  }

  .ed_model_paragraph {
    position: relative;
    top: 35px;
    width: 80%;
    text-align: left;
    font-size: 0.7rem;
    text-align: justify;
    margin: auto;
  }

  .ex_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    color: #f0d699;
  }

  .ex_card {
    background-color: #31511e;
    width: 85%;
    height: 60%;
    border-radius: 25px;
  }

  .skill_container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }

  .skill_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 40px;
    width: 90%;
    height: 80%;
    gap: 20px;
  }

  .skill_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 20%;
    height: 15%;
    transition: 0.5s;
  }

  .skill_icon:hover {
    background-color: #f0d699;
    color: #31511e;
    width: 22%;
    height: 17%;
  }

  .skill_hover {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px #f0d699 solid;
    position: fixed;
    background-color: #31511e;
    color: #f0d699;
    width: 100px;
    height: 30px;
    left: -120px;
    top: -70px;
    transition: opacity 200ms ease-in-out;
  }

  .hobbies_container {
    width: 100vw;
    height: 100vh;
    font-size: 1rem;
  }

  .hob_card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 40px;
    width: 100%;
    height: 20%;
    transition: 0.5s;
  }

  .hob_card:hover {
    font-size: 1.1rem;
    height: 23%;
    color: #9a031e;
  }

  .hob_img {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    transition: 0.5s;
  }

  #hob_headling {
    position: absolute;
  }

  .proj_container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-size: 0.5rem;
  }

  .proj_card {
    position: relative;
    top: 4%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    height: 85%;
    box-sizing: border-box;
  }

  .proj_hover {
    position: relative;
    display: flex;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    height: 10%;
    transition: 0.5s;
  }

  .proj_hover:hover {
    background-color: #31511e;
    color: #f0d699;
  }

  .proj_item {
    display: flex;
    align-items: center;
    text-align: left;
    width: 80%;
  }

  .proj_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    gap: 5px;
  }

  .proj_link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0d699;
    border: 3px #f0d699 solid;
    color: #31511e;
    width: 100px;
    height: 20px;
    border-radius: 5px;
    transition: 0.5s;
  }

  #proj_git_link {
    text-decoration: none;
    color: #f0d699;
  }

  .proj_link:hover {
    background-color: #31511e;
    color: #f0d699;
  }

  .proj_no_link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9a031e;
    border: 3px #9a031e solid;
    color: white;
    width: 100px;
    height: 20px;
    border-radius: 5px;
    transition: 0.5s;
  }

  .proj_no_link:hover {
    background-color: black;
    color: #9a031e;
  }

  .hover_container {
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 10;
  }

  .img_hover {
    position: absolute;
    width: 300px;
    height: 150px;
    border-radius: 10px;
    transition: opacity 200ms ease-in-out;
  }

  .con_container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
  }

  .con_card {
    display: flex;
    position: relative;
    top: 25%;
    width: 90%;
    height: 40%;
  }

  .con_item {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    font-size: 1rem;
  }

  .con_icon_hover {
    border-radius: 15px;
    transition: 0.5s;
  }

  .con_icon_hover:hover {
    background-color: #f0d699;
    color: #31511e;
  }

  .con_item_card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  #con_icon_link {
    text-decoration: none;
    color: #f0d699;
  }

  .con_icon {
    display: inline-flex;
    font-size: 2.5rem;
  }

  .con_copy_mail {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 90%;
    border: 3px #f0d699 solid;
    border-radius: 15px;
    transition: 0.3s;
    padding: 10px;
    font-size: 1.2rem;
  }

  .con_copy_mail:hover {
    background-color: #f0d699;
    color: #31511e;
    border: 3px #31511e solid;
  }

  .con_mail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  .con_copy_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
  }

  #linkNav {
    display: none;
  }

  #mobLinkNav {
    display: flex;
    margin: 10px;
    padding: 5px 10px;
    text-decoration: none;
    color: #f0d699;
    border-radius: 10px;
    transition: all 0.5s ease;
    font-size: 3.5rem;
  }

  #mobLinkNav:hover,
  .mobLinkHover {
    background-color: #31511e;
    color: #f0d699;
  }

  .navIcon_menu {
    display: flex;
    justify-content: center;
    align-content: center;
    position: fixed;
    bottom: 15px;
    left: 37%;
    background-color: #011d09;
    width: 90px;
    height: 60px;
    border-radius: 15px;
    z-index: 50;
  }

  .navIcon_menu_hover {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    font-size: 3rem;
    width: 80%;
    height: 80%;
  }

  .navbarMob {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 50;
  }

  .navbarMob_container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #011d09;
  }

  .navbarMob_close {
    place-self: start;
  }

  .navbarMob_menu {
    border-radius: 10px;
    margin: auto;
  }

  .theme_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #011d09;
    width: 70px;
    height: 60px;
    border-radius: 10px;
  }

  .theme {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 50px;
    height: 40px;
    color: #f0d699;
    transition: 0.5s;
  }

  .theme:hover {
    background-color: #31511e;
  }

  .bg {
    background: url("https://i.ibb.co/87GbbFP/2799006.jpg") no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -3;
  }

  .bg:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    position: fixed;
    z-index: -1;
    opacity: 0.3;
  }

  @keyframes sf-fly-by-1 {
    from {
      transform: translateZ(-600px);
      opacity: 0.5;
    }
    to {
      transform: translateZ(0);
      opacity: 0.5;
    }
  }
  @keyframes sf-fly-by-2 {
    from {
      transform: translateZ(-1200px);
      opacity: 0.5;
    }
    to {
      transform: translateZ(-600px);
      opacity: 0.5;
    }
  }
  @keyframes sf-fly-by-3 {
    from {
      transform: translateZ(-1800px);
      opacity: 0.5;
    }
    to {
      transform: translateZ(-1200px);
      opacity: 0.5;
    }
  }

  .star-field {
    position: fixed;
    width: 100%;
    height: 100%;
    perspective: 600px;
    -webkit-perspective: 600px;
    z-index: -1;
  }

  .star-field .layer {
    box-shadow: -411px -476px #cccccc, 777px -407px #d4d4d4,
      -387px -477px #fcfcfc, -91px -235px #d4d4d4, 491px -460px #f7f7f7,
      892px -128px #f7f7f7, 758px -277px #ededed, 596px 378px #cccccc,
      647px 423px whitesmoke, 183px 389px #c7c7c7, 524px -237px #f0f0f0,
      679px -535px #e3e3e3, 158px 399px #ededed, 157px 249px #ededed,
      81px -450px #ebebeb, 719px -360px #c2c2c2, -499px 473px #e8e8e8,
      -158px -349px #d4d4d4, 870px -134px #cfcfcf, 446px 404px #c2c2c2,
      440px 490px #d4d4d4, 414px 507px #e6e6e6, -12px 246px #fcfcfc,
      -384px 369px #e3e3e3, 641px -413px #fcfcfc, 822px 516px #dbdbdb,
      449px 132px #c2c2c2, 727px 146px #f7f7f7, -315px -488px #e6e6e6,
      952px -70px #e3e3e3, -869px -29px #dbdbdb, 502px 80px #dedede,
      764px 342px #e0e0e0, -150px -380px #dbdbdb, 654px -426px #e3e3e3,
      -325px -263px #c2c2c2, 755px -447px #c7c7c7, 729px -177px #c2c2c2,
      -682px -391px #e6e6e6, 554px -176px #ededed, -85px -428px #d9d9d9,
      714px 55px #e8e8e8, 359px -285px #cfcfcf, -362px -508px #dedede,
      468px -265px #fcfcfc, 74px -500px #c7c7c7, -514px 383px #dbdbdb,
      730px -92px #cfcfcf, -112px 287px #c9c9c9, -853px 79px #d6d6d6,
      828px 475px #d6d6d6, -681px 13px #fafafa, -176px 209px #f0f0f0,
      758px 457px #fafafa, -383px -454px #ededed, 813px 179px #d1d1d1,
      608px 98px whitesmoke, -860px -65px #c4c4c4, -572px 272px #f7f7f7,
      459px 533px #fcfcfc, 624px -481px #e6e6e6, 790px 477px #dedede,
      731px -403px #ededed, 70px -534px #cccccc, -23px 510px #cfcfcf,
      -652px -237px whitesmoke, -690px 367px #d1d1d1, 810px 536px #d1d1d1,
      774px 293px #c9c9c9, -362px 97px #c2c2c2, 563px 47px #dedede,
      313px 475px #e0e0e0, 839px -491px #e3e3e3, -217px 377px #d4d4d4,
      -581px 239px #c2c2c2, -857px 72px #cccccc, -23px 340px #dedede,
      -837px 246px white, 170px -502px #cfcfcf, 822px -443px #e0e0e0,
      795px 497px #e0e0e0, -814px -337px #cfcfcf, 206px -339px #f2f2f2,
      -779px 108px #e6e6e6, 808px 2px #d4d4d4, 665px 41px #d4d4d4,
      -564px 64px #cccccc, -380px 74px #cfcfcf, -369px -60px #f7f7f7,
      47px -495px #e3e3e3, -383px 368px #f7f7f7, 419px 288px #d1d1d1,
      -598px -50px #c2c2c2, -833px 187px #c4c4c4, 378px 325px whitesmoke,
      -703px 375px #d6d6d6, 392px 520px #d9d9d9, -492px -60px #c4c4c4,
      759px 288px #ebebeb, 98px -412px #c4c4c4, -911px -277px #c9c9c9;
    transform-style: preserve-3d;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 4px;
    width: 4px;
    border-radius: 2px;
  }
  .star-field .layer:nth-child(1) {
    animation: sf-fly-by-1 5s linear infinite;
  }
  .star-field .layer:nth-child(2) {
    animation: sf-fly-by-2 5s linear infinite;
  }
  .star-field .layer:nth-child(3) {
    animation: sf-fly-by-3 5s linear infinite;
  }
}

@media screen and (min-width: 415px) and (max-width: 768px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Pixelify Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  body {
    color: #f0d699;
    width: 100vw;
    height: 100vh;
  }

  .main-container {
    background-size: 150% 100%;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: fixed;
  }

  .greeting_container {
    height: 100vh;
    width: 100vw;
  }

  #greetings_header {
    position: absolute;
    top: 45%;
    left: 40%;
    font-size: 3rem;
    color: #f0d699;
  }

  #name_headling {
    display: flex;
    height: 100%;
    font-size: 3rem;
    text-align: left;
  }

  #role_job {
    height: 100%;
    font-size: 2.5rem;
    text-align: left;
  }

  #tea_headling {
    position: relative;
    text-align: right;
    top: -25px;
    right: 100px;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  @keyframes floating {
    0% {
      transform: translate(0, 0px);
    }
    50% {
      transform: translate(0, 5px);
    }
    100% {
      transform: translate(0, -0px);
    }
  }

  .detail_container {
    display: grid;
    position: relative;
    top: 20%;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px 100px 100px 60px;
    width: 90%;
    margin: auto;
    gap: 15px;
  }

  .item-1 {
    grid-row: span 2;
    color: #f0d699;
  }

  .item-2 {
    color: #f0d699;
    display: flex;
    grid-row: 4;
    justify-content: center;
    align-items: center;
  }

  .item-3 {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    grid-row: 5;
    height: 60px;
    gap: 20px;
  }

  #home_pg {
    text-align: left;
  }

  #video_link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 60px;
    width: 100px;
    text-decoration: none;
    color: #f0d699;
    transition: 0.5s ease;
  }

  #video_link:hover {
    color: #31511e;
    background-color: #f0d699;
  }

  #hire_me_link,
  #resume_link {
    display: flex;
    color: #f0d699;
    border-radius: 10px;
    border: 4px #31511e solid;
    background-color: #31511e;
    height: 60px;
    width: 150px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.5s ease;
    font-size: 25px;
    margin: 10px;
  }

  #hire_me_link:hover,
  #resume_link:hover {
    background-color: #f0d699;
    color: #31511e;
    border-radius: 50px;
  }

  .slide-in {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #011d09;
    transform-origin: bottom;
    z-index: 100;
  }

  .slide-out {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #011d09;
    transform-origin: top;
    z-index: 100;
  }

  .home_container {
    width: 100vw;
    height: 100vh;
  }

  #home_bg_image {
    width: 100%;
    height: 100%;
  }

  #cat_img {
    width: 50%;
    height: 85%;
    background-image: url("/src/assets/image/cat_cafe_meme.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  #about_page {
    width: 100vw;
    height: 100vh;
  }

  .about_container {
    display: grid;
    position: relative;
    top: 12%;
    width: 90vw;
    height: 70vh;
    grid-template-rows: 1fr 1fr 60px;
    grid-template-columns: 500px;
    margin: auto;
    font-size: 1.5rem;
  }

  #about_item-1 {
    grid-row: 2;
    text-align: left;
  }

  #about_heading,
  #about_paragraph {
    display: flex;
    align-items: center;
    text-align: justify;
  }

  #about_item-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
  }

  #about_item-3 {
    grid-row: 3;
    display: flex;
  }

  #ashu_img {
    width: 50%;
    height: 80%;
    background-image: url("/src/assets/image/cat_pc.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
  }

  #about_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    color: #f0d699;
    transition: all 0.5s ease;
  }

  #about_icon:hover {
    color: #31511e;
    background-color: #f0d699;
    width: 60px;
    height: 60px;
    border-radius: 10px;
  }

  .ed_container {
    width: 100vw;
    height: 100vh;
  }

  .ed_card {
    display: flex;
    position: relative;
    top: 25px;
    height: 85%;
  }

  .ed_item_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 15px;
    width: 100vw;
    height: 25%;
    color: #f0d699;
    font-size: 0.7rem;
    transition: 0.5s;
    gap: 30px;
  }

  .ed_item_container:hover {
    background-color: #31511e;
    color: #f0d699;
    font-size: 0.8rem;
  }

  #ed_img {
    width: 30%;
    height: 80%;
    background-color: white;
    border-radius: 15px;
    background-size: 65% 85%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.5s;
  }

  #ed_img:hover {
    background-size: 75% 90%;
    height: 90%;
  }

  .ed_item {
    width: 60%;
    height: 90%;
  }

  #ed_course {
    margin-top: 10px;
  }

  .forward_ed_item_container {
    text-align: center;
    display: flex;
    position: fixed;
    inset: 0;
    background-color: rgba(195, 199, 166, 0.1);
    backdrop-filter: blur(5px);
    width: 100vw;
    height: 100vh;
    justify-content: center;
    color: #f0d699;
  }

  #forward_ed_headling {
    width: 80%;
    font-size: 1.4rem;
    margin: auto;
  }

  .forward_ed_card {
    margin: auto;
    background-color: #011d09;
    width: 90%;
    height: 70%;
    border-radius: 10px;
  }

  .ed_close_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    place-self: start end;
    transition: 0.3s;
    border-radius: 10px;
  }

  .ed_close_logo:hover {
    background-color: #31511e;
    color: #f0d699;
  }

  .ed_modal_img {
    position: relative;
    top: 10px;
    background-color: white;
    width: 80%;
    height: 30%;
    background-repeat: no-repeat;
    background-size: 50% 80%;
    background-position: center;
    border-radius: 20px;
    margin: auto;
  }

  .ed_modal_desc {
    position: relative;
    top: 15px;
    width: 80%;
    text-align: left;
    margin: auto;
    font-size: 0.8rem;
  }

  .ed_model_paragraph {
    position: relative;
    top: 35px;
    width: 80%;
    text-align: left;
    font-size: 0.7rem;
    text-align: justify;
    margin: auto;
  }

  .ex_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    color: #f0d699;
  }

  .ex_card {
    background-color: #31511e;
    width: 85%;
    height: 60%;
    border-radius: 25px;
  }

  .skill_container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }

  .skill_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 40px;
    width: 90%;
    height: 80%;
    gap: 20px;
  }

  .skill_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 20%;
    height: 15%;
    transition: 0.5s;
  }

  .skill_icon:hover {
    background-color: #f0d699;
    color: #31511e;
    width: 22%;
    height: 17%;
  }

  .skill_hover {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px #f0d699 solid;
    position: fixed;
    background-color: #31511e;
    color: #f0d699;
    width: 100px;
    height: 30px;
    left: -120px;
    top: -70px;
    transition: opacity 200ms ease-in-out;
  }

  .hobbies_container {
    width: 100vw;
    height: 100vh;
    font-size: 1rem;
  }

  .hob_card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 40px;
    width: 100%;
    height: 20%;
    transition: 0.5s;
  }

  .hob_card:hover {
    font-size: 1.1rem;
    height: 23%;
    color: #9a031e;
  }

  .hob_img {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    transition: 0.5s;
  }

  #hob_headling {
    position: absolute;
  }

  .proj_container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-size: 0.6rem;
  }

  .proj_card {
    position: relative;
    top: 4%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    height: 85%;
    box-sizing: border-box;
  }

  .proj_hover {
    position: relative;
    display: flex;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    height: 10%;
    transition: 0.5s;
  }

  .proj_hover:hover {
    background-color: #31511e;
    color: #f0d699;
  }

  .proj_item {
    display: flex;
    align-items: center;
    text-align: left;
    width: 80%;
  }

  .proj_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    gap: 10px;
    font-size: 0.7rem;
  }

  .proj_link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0d699;
    border: 3px #f0d699 solid;
    color: #31511e;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    transition: 0.5s;
  }

  #proj_git_link {
    text-decoration: none;
    color: #f0d699;
  }

  .proj_link:hover {
    background-color: #31511e;
    color: #f0d699;
  }

  .proj_no_link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9a031e;
    border: 3px #9a031e solid;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    transition: 0.5s;
  }

  .proj_no_link:hover {
    background-color: black;
    color: #9a031e;
  }

  .hover_container {
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 10;
  }

  .img_hover {
    position: absolute;
    width: 300px;
    height: 150px;
    border-radius: 10px;
    transition: opacity 200ms ease-in-out;
  }

  .con_container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
  }

  .con_card {
    display: flex;
    position: relative;
    top: 25%;
    width: 90%;
    height: 40%;
  }

  .con_item {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
  }

  .con_icon_hover {
    border-radius: 15px;
    transition: 0.5s;
  }

  .con_icon_hover:hover {
    background-color: #f0d699;
    color: #31511e;
  }

  .con_item_card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  #con_icon_link {
    text-decoration: none;
    color: #f0d699;
  }

  .con_icon {
    display: inline-flex;
    font-size: 3rem;
  }

  .con_copy_mail {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 75%;
    border: 3px #f0d699 solid;
    border-radius: 15px;
    transition: 0.3s;
    padding: 10px;
    font-size: 1.7rem;
  }

  .con_copy_mail:hover {
    background-color: #f0d699;
    color: #31511e;
    border: 3px #31511e solid;
  }

  .con_mail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  .con_copy_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
  }

  #linkNav {
    display: none;
  }

  #mobLinkNav {
    display: flex;
    margin: 10px;
    padding: 5px 10px;
    text-decoration: none;
    color: #f0d699;
    border-radius: 10px;
    transition: all 0.5s ease;
    font-size: 3.5rem;
  }

  #mobLinkNav:hover,
  .mobLinkHover {
    background-color: #31511e;
    color: #f0d699;
  }

  .navIcon_menu {
    display: flex;
    justify-content: center;
    align-content: center;
    position: fixed;
    bottom: 15px;
    left: 44%;
    background-color: #011d09;
    width: 90px;
    height: 60px;
    border-radius: 15px;
    z-index: 50;
  }

  .navIcon_menu_hover {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    font-size: 3rem;
    width: 80%;
    height: 80%;
  }

  .navbarMob {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 50;
  }

  .navbarMob_container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #011d09;
  }

  .navbarMob_close {
    place-self: start;
  }

  .navbarMob_menu {
    border-radius: 10px;
    margin: auto;
  }

  .theme_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #011d09;
    width: 70px;
    height: 60px;
    border-radius: 10px;
  }

  .theme {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 50px;
    height: 40px;
    color: #f0d699;
    transition: 0.5s;
  }

  .theme:hover {
    background-color: #31511e;
  }

  .bg {
    background: url("https://i.ibb.co/87GbbFP/2799006.jpg") no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -3;
  }

  .bg:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    position: fixed;
    z-index: -1;
    opacity: 0.3;
  }

  @keyframes sf-fly-by-1 {
    from {
      transform: translateZ(-600px);
      opacity: 0.5;
    }
    to {
      transform: translateZ(0);
      opacity: 0.5;
    }
  }
  @keyframes sf-fly-by-2 {
    from {
      transform: translateZ(-1200px);
      opacity: 0.5;
    }
    to {
      transform: translateZ(-600px);
      opacity: 0.5;
    }
  }
  @keyframes sf-fly-by-3 {
    from {
      transform: translateZ(-1800px);
      opacity: 0.5;
    }
    to {
      transform: translateZ(-1200px);
      opacity: 0.5;
    }
  }

  .star-field {
    position: fixed;
    width: 100%;
    height: 100%;
    perspective: 600px;
    -webkit-perspective: 600px;
    z-index: -1;
  }

  .star-field .layer {
    box-shadow: -411px -476px #cccccc, 777px -407px #d4d4d4,
      -387px -477px #fcfcfc, -91px -235px #d4d4d4, 491px -460px #f7f7f7,
      892px -128px #f7f7f7, 758px -277px #ededed, 596px 378px #cccccc,
      647px 423px whitesmoke, 183px 389px #c7c7c7, 524px -237px #f0f0f0,
      679px -535px #e3e3e3, 158px 399px #ededed, 157px 249px #ededed,
      81px -450px #ebebeb, 719px -360px #c2c2c2, -499px 473px #e8e8e8,
      -158px -349px #d4d4d4, 870px -134px #cfcfcf, 446px 404px #c2c2c2,
      440px 490px #d4d4d4, 414px 507px #e6e6e6, -12px 246px #fcfcfc,
      -384px 369px #e3e3e3, 641px -413px #fcfcfc, 822px 516px #dbdbdb,
      449px 132px #c2c2c2, 727px 146px #f7f7f7, -315px -488px #e6e6e6,
      952px -70px #e3e3e3, -869px -29px #dbdbdb, 502px 80px #dedede,
      764px 342px #e0e0e0, -150px -380px #dbdbdb, 654px -426px #e3e3e3,
      -325px -263px #c2c2c2, 755px -447px #c7c7c7, 729px -177px #c2c2c2,
      -682px -391px #e6e6e6, 554px -176px #ededed, -85px -428px #d9d9d9,
      714px 55px #e8e8e8, 359px -285px #cfcfcf, -362px -508px #dedede,
      468px -265px #fcfcfc, 74px -500px #c7c7c7, -514px 383px #dbdbdb,
      730px -92px #cfcfcf, -112px 287px #c9c9c9, -853px 79px #d6d6d6,
      828px 475px #d6d6d6, -681px 13px #fafafa, -176px 209px #f0f0f0,
      758px 457px #fafafa, -383px -454px #ededed, 813px 179px #d1d1d1,
      608px 98px whitesmoke, -860px -65px #c4c4c4, -572px 272px #f7f7f7,
      459px 533px #fcfcfc, 624px -481px #e6e6e6, 790px 477px #dedede,
      731px -403px #ededed, 70px -534px #cccccc, -23px 510px #cfcfcf,
      -652px -237px whitesmoke, -690px 367px #d1d1d1, 810px 536px #d1d1d1,
      774px 293px #c9c9c9, -362px 97px #c2c2c2, 563px 47px #dedede,
      313px 475px #e0e0e0, 839px -491px #e3e3e3, -217px 377px #d4d4d4,
      -581px 239px #c2c2c2, -857px 72px #cccccc, -23px 340px #dedede,
      -837px 246px white, 170px -502px #cfcfcf, 822px -443px #e0e0e0,
      795px 497px #e0e0e0, -814px -337px #cfcfcf, 206px -339px #f2f2f2,
      -779px 108px #e6e6e6, 808px 2px #d4d4d4, 665px 41px #d4d4d4,
      -564px 64px #cccccc, -380px 74px #cfcfcf, -369px -60px #f7f7f7,
      47px -495px #e3e3e3, -383px 368px #f7f7f7, 419px 288px #d1d1d1,
      -598px -50px #c2c2c2, -833px 187px #c4c4c4, 378px 325px whitesmoke,
      -703px 375px #d6d6d6, 392px 520px #d9d9d9, -492px -60px #c4c4c4,
      759px 288px #ebebeb, 98px -412px #c4c4c4, -911px -277px #c9c9c9;
    transform-style: preserve-3d;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 4px;
    width: 4px;
    border-radius: 2px;
  }
  .star-field .layer:nth-child(1) {
    animation: sf-fly-by-1 5s linear infinite;
  }
  .star-field .layer:nth-child(2) {
    animation: sf-fly-by-2 5s linear infinite;
  }
  .star-field .layer:nth-child(3) {
    animation: sf-fly-by-3 5s linear infinite;
  }
}
